/* chirps.css */
textarea {
    border-color: #4CAF50;
    background-color: #E8F5E9;
    color: #2E7D32;
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    outline: none;
    transition: 0.3s;
}

textarea:focus {
    border-color: #388E3C;
    box-shadow: 0 0 5px #66BB6A;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #388E3C;
}

.bg-white {
    background-color: #E8F5E9 !important;
}
